In [2]:
import pandas as pd
import glob
from os import listdir

In [11]:
datasets_loc = glob.glob( '../datasets/*/**.csv' )

In [12]:
datasets_loc

['../datasets/👌/tweets.csv',
 '../datasets/👍/tweets.csv',
 '../datasets/😂/tweets.csv',
 '../datasets/😋/tweets.csv',
 '../datasets/😌/tweets.csv',
 '../datasets/😩/tweets.csv',
 '../datasets/😴/tweets.csv',
 '../datasets/😍/tweets.csv',
 '../datasets/😳/tweets.csv',
 '../datasets/😊/tweets.csv',
 '../datasets/🙏/tweets.csv',
 '../datasets/🙈/tweets.csv',
 '../datasets/😄/tweets.csv',
 '../datasets/😑/tweets.csv',
 '../datasets/😘/tweets.csv',
 '../datasets/✌️/tweets.csv',
 '../datasets/☺️/tweets.csv',
 '../datasets/💕/tweets.csv',
 '../datasets/🇳🇵/tweets.csv',
 '../datasets/😔/tweets.csv',
 '../datasets/😭/tweets.csv',
 '../datasets/😁/tweets.csv',
 '../datasets/😏/tweets.csv',
 '../datasets/😒/tweets.csv',
 '../datasets/😜/tweets.csv',
 '../datasets/😉/tweets.csv',
 '../datasets/😷/tweets.csv',
 '../datasets/😎/tweets.csv',
 '../datasets/❤️/tweets.csv']

In [19]:
df = None
for loc in datasets_loc:
    if df is None:
        df = pd.read_csv(loc)
        df['emoji'] = loc.split("/")[2]
    else:
        df_temp = pd.read_csv(loc)
        df_temp['emoji'] = loc.split("/")[2]
        df = df.append(df_temp)

In [20]:
df

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,emoji
0,1398437418768818176,1398437418768818176,2021-05-29 06:18:57 +0545,2021-05-29,06:18:57,545,1476769400,dendikapan,CDCA Kapan,NaN,...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,👌
1,1397792077149216769,1397791412687495168,2021-05-27 11:34:35 +0545,2021-05-27,11:34:35,545,1476769400,dendikapan,CDCA Kapan,NaN,...,NaN,NaN,NaN,NaN,"[{'screen_name': 'damanbro66', 'name': 'बिद्रो...",NaN,NaN,NaN,NaN,👌
2,1397341721566990336,1383799053113171968,2021-05-26 05:45:02 +0545,2021-05-26,05:45:02,545,1476769400,dendikapan,CDCA Kapan,NaN,...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,👌
3,1394863068035813379,1394863068035813379,2021-05-19 09:35:45 +0545,2021-05-19,09:35:45,545,1394344497413304325,iammuhnaj,MuhNaj,"{'type': 'Point', 'coordinates': [27.713776, 8...",...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,👌
4,1393821979032133635,1393821979032133635,2021-05-16 12:38:50 +0545,2021-05-16,12:38:50,545,2586796880,chetan_karki,Chetan raj karki,"{'type': 'Point', 'coordinates': [27.67733347,...",...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,👌
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1360,822460520536150016,822460520536150016,2017-01-20 20:52:23 +0545,2017-01-20,20:52:23,545,48163787,lucrep,M. Lucrecia Palacios,"{'type': 'Point', 'coordinates': [27.7, 85.3333]}",...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,❤️
1361,821313970778738688,821313970778738688,2017-01-17 16:56:24 +0545,2017-01-17,16:56:24,545,2412230707,vhadriya,हाकूँ काले,"{'type': 'Point', 'coordinates': [27.72134837,...",...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,❤️
1362,817373635333586945,817373635333586945,2017-01-06 19:58:55 +0545,2017-01-06,19:58:55,545,1310237629,fmkmty10,🌷ふみふみ♋️🔥🦌🍼,"{'type': 'Point', 'coordinates': [27.7, 85.5167]}",...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,❤️
1363,817346378816856066,817346378816856066,2017-01-06 18:10:36 +0545,2017-01-06,18:10:36,545,1310237629,fmkmty10,🌷ふみふみ♋️🔥🦌🍼,"{'type': 'Point', 'coordinates': [27.6667, 85....",...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,❤️
1364,816102644230057984,816102644230057984,2017-01-03 07:48:27 +0545,2017-01-03,07:48:27,545,52715637,cyabari,Cyabari Shrestha,"{'type': 'Point', 'coordinates': [27.68420802,...",...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,❤️

In [21]:
df.emoji.value_counts()

🇳🇵    2540
😍     2087
😊     1602
😂     1561
🙏     1447
❤️    1365
😘      912
😁      757
😎      753
😉      736
💕      485
😋      339
👌      269
😜      258
✌️     234
👍      217
😄      196
☺️     174
😏      137
😑      136
😌      134
🙈       96
😭       88
😒       75
😔       66
😷       49
😴       43
😳       37
😩       17
Name: emoji, dtype: int64

In [22]:
list(df)

['id',
 'conversation_id',
 'created_at',
 'date',
 'time',
 'timezone',
 'user_id',
 'username',
 'name',
 'place',
 'tweet',
 'language',
 'mentions',
 'urls',
 'photos',
 'replies_count',
 'retweets_count',
 'likes_count',
 'hashtags',
 'cashtags',
 'link',
 'retweet',
 'quote_url',
 'video',
 'thumbnail',
 'near',
 'geo',
 'source',
 'user_rt_id',
 'user_rt',
 'retweet_id',
 'reply_to',
 'retweet_date',
 'translate',
 'trans_src',
 'trans_dest',
 'emoji']

In [26]:
df[['id', 'created_at', 'username', 'tweet', 'likes_count', 'emoji']].to_csv('../datasets/merged.csv', index=False)